@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.rodapeCard {
    width: 98.89vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #00235E;
}

.rodapeLogo {
    margin-top: 8px;
    width: 100%;
    height: 3vh;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    text-justify: center;
}

.rodapeBox1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 24px;
    margin-bottom: 50px;
}

.rodapeBox1Div {
    width: 50%;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}
.rodapeBox2Div {
    width: 100%;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.rodapeSubTitles {
    color: white;
    margin-bottom: 8px;
}

.rodapeSocials{
    font-size: 1rem;
    padding-left: 0.6rem;
    color: white;
}


.rodapeTxt4{
    font-size: 1rem;
    color: white;
}

.rodapeTxt4 a {
    color: #008cff;
    transition: .3s;
}

.rodapeTxt4 a:hover {
    color: #0022ff;
    transform: scale(1.1);
    align-items: center;
    justify-items: center;
    text-align: center;
}

.rodapeTxt1{
    font-size: 1.15rem;
    align-items: center;
    color: white;
}

#whatsBtnCard{

 }
#btnWhatsappFooter{
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-decoration: none;
}

#falseBtn{
    font-size: 1rem;
    color: white;
    cursor: context-menu;
}
#falseBtn:hover{
    font-size: 1rem;
    color: white;
    cursor: context-menu;
}

@media screen and (max-width: 900px){

    .rodapeSubTitles {
        font-size: 0.8rem;
        text-align: center;
    }

    .rodapeBox2Div {
        margin-top: 3vh;
    }
    .rodapeSocials{
        font-size: 0.8rem;
        padding-left: 0.6rem;
        text-align: center;
    }
    
    
    .rodapeTxt4{
        font-size: 0.8rem;
        text-align: center;
    }
    
    .rodapeTxt1{
        font-size: 0.8rem;
        text-align: center;
    }
}