@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.rodapeCard {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #00235E;
}

.rodapeLogo {
    width: 100vw;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.rodapeBox1 {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.rodapeBox1Div {
    width: 25vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border: 1px solid black;
}

.rodapeCard .rodapeBox1 h3 {
    color: white;
}

.rodapeSocials{
    font-size: 1rem;
    padding-left: 0.6rem;
    color: white;
}


.rodapeTxt4{
    font-size: 1rem;
    color: white;
}

.rodapeTxt1{
    font-size: 1.15rem;
    align-items: center;
    color: white;
}

@media screen and (max-width: 900px){

    .rodapeCard .rodapeBox1 h3 {
        font-size: 0.8rem;
        text-align: center;
    }

    .rodapeSocials{
        font-size: 0.8rem;
        padding-left: 0.6rem;
        text-align: center;
    }
    
    
    .rodapeTxt4{
        font-size: 0.8rem;
        text-align: center;
    }
    
    .rodapeTxt1{
        font-size: 0.8rem;
        text-align: center;
    }
}