  .indexContainer {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .indexMainContent{
    max-width: 800px;
    padding: 20px;
  }


  .indexCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .indexContentLeft h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #211492;
  }
  
  .indexContentRight p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .indexContentRight ul {
    margin-top: 10px;
    line-height: 1.5;
  }
  
  .cliqueAqui {
    color: rgb(0, 76, 239);
    transition: 0.5s;
}

.cliqueAqui:hover {
    
    color: rgb(0, 239, 239);
}
  
  /* Add any additional CSS styles as needed */
  
  