 main {
  min-height: 70vh;
  margin: 0;
  padding: 0;
 }


 /* FILTER AND SEARCH */
 .filtersArea{
  width: 100%;
  height: 10px;
 }
 .filter {
    text-align: center;
    margin-bottom: 20px;
  }

  .filter button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .mobileFilterMenuButton {
    display: none;
  }

  /* SEARCH BAR */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

  /* ////////////////////////  VARIABLE CSS  /////////////// */
  :root {
    /* =============== Color =============== */
    /* Color mode HSL (hue, saturation, lightness) */
    --first-color: hsl(222,80%,58%);
    --dark-color: hsl(222,24%,8%);
    --title-color: hsl(222,8%,8%);
    --text-color: hsl(222,8%,65%);
    --white-color: #fff;
    --body-color: hsl(222,100%,99%);

    /* =============== Font and typhography =============== */
    /* .5rem = 8px / 1rem = 16px ... */
    --body-font: 'Poppins', sans-serif;
    --small-font-size: .813rem ;
  }

  /* ===================== BASE ==================== */
  * {
    box-sizing: border-box;
  }

  body{
    background-color: var(--body-color);
  }
  /* ==================== SEARCH =================== */
  .searchContainer{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
  }

  .search{
    position: relative;
    width: 38px;
    height: 38px;
    background-color: var(--white-color);
    box-shadow: 0 4px 24px hsla(222, 68%, 12%, .1);
    border-radius: 4rem;
    padding: 10px; /* 
    overflow: hidden; */
    transition: width .5s cubic-bezier(.9, 0, .3, .9);
  }

  .search__input{
    border: none;
    outline: none;
    width: calc(100% - 12%);
    height: 100%;
    border-radius: 4rem;
    padding-left: 14px;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
  }

  .search__input:-webkit-autofill{
    box-shadow: 0 0 0 100px var(--white-color) inset;
  }

  .search__button{
    width: 38px;
    width: 38px;
    background-color: var(--dark-color);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 10px;
    margin: auto;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: transform .6s cubic-bezier(.9,0,.3,.9);
  }

  .search__icon,
  .search__close{
    color: var(--white-color);
    font-size: 1.5rem;
    position: absolute;
    transition: opacity .5s cubic-bezier(.9,0,.3,.9);
  }

  .search__close{
    opacity: 0;
  }
  /*  Search animated */
  .show-search{
    width: 400px;
  }
  .show-search .search__input{
    opacity: 1;
    pointer-events: initial;
  }

  .show-search .search__button{
    transform: rotate(90deg);
  }

  .show-search .search__icon{
    opacity: 0;
  }

  .show-search .search__close{
    opacity: 1;
  }
  /* ==================== BREAKPOINTS =================== */
  /* For medium devices */
  /*////////////////////////   PRODUCTS   ////////////////// */
  .container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
  }

  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(70%);
    transition: filter 0.3s ease;
    cursor: pointer;
  }

  .card:hover img {
    filter: brightness(100%);
  }

  .card-content {
    padding: 20px;
  }

  .card h3 {
    margin: 0;
    font-size: 18px;
    color: #00013b;
    margin-bottom: 10px;
    height: 5vh;
  }

  .details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    z-index: 999;
  }

  .details-overlay.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .details {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    max-height: 400px;
    overflow-y: auto;
    display: none;
  }

  .details h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

  .details p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }

  .close-details {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .close-details button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #999;
  }

  .container div img {
    height: 20em;
    object-fit: fill;
    border-radius: 8px;
  }

  .abafador,
  .avental,
  .calçados,
  .capacete,
  .equipamentos,
  .ferramentas,
  .filtros,
  .luvas,
  .mascaras,
  .oculos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 800px) {

    /*//////////////////     FILTER AND SEARCH    /////////////////*/
    .filtersArea {
      background: #33333336;
      width: 100%;
      height: 6.5vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .filter{
      display: none;
    }
    .filtersCard{
      width: 70vw;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 40px;
      margin-right: 40px;
    }
    .mobileFilterMenuButton{
      display: block;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .mobileFilterMenuButton button{
      width: 75px;
      height: 75%;
      border-radius: 10px;
    }

    /*=========== SEARCH ============ */
    /* Responsive typhography */
    :root {
      --small-font-size: .875rem;
    }

    .show-search{
      width: 45vw;
    }

    /*///////////////     PRODUCTS    //////////////////////////// */
    .container {
      padding: 10px;
    }

    .card {
      width: 10em;
      max-width: 40em;
      margin: 10px;
    }
    .card-content{
      padding: 10px;
    }

    .container div img {
      height: 10em;
      
    }

    .details {
      max-width: 90%;
      max-height: 90%;
    }
  }